.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  @extend %quicksand-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 1.6;
  color: $default;
  @extend %quicksand-500;
}

.btn-temp {
  display: inline-block;
  padding: 12px 26px;
  @extend %roboto-400;
  background-color: $accent;
  color: $white;
  text-transform: uppercase;
  transition: all 0.4s;
  outline: transparent;
  box-shadow: 0px 7px 20px 0px rgb(255 17 48 /30%);
  &:hover {
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
  }
  &:focus {
    box-shadow: 0 0 0 3px rgb(62 66 100 / 70%);
    border-radius: 5px;
  } 
}

.btn-two {
  display: inline-block;
  padding: 14px 26px;
  color: $title;
  text-transform: uppercase;
  border: 1px solid $accent;
  transition: all .4s;
  outline: transparent;
    &:hover {
      background-color: $accent;
      color: $white;
    }
    &:active {
      filter: brightness(50%);
    }
    &:focus {
      box-shadow: 0 0 0 3px rgb(62 66 100 / 70%);
      border-radius: 5px;
    } 
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  @extend %roboto-700;
  color: $title;
  text-transform: uppercase;
}

.text {
  margin: 0 auto 54px;
  max-width: 570px;
  text-align: center;

}

