.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  @extend %quicksand-500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 1.6;
  color: $default;
  @extend %quicksand-500;
}

.btn-temp {
  display: inline-block;
  padding: 12px 26px;
  @extend %roboto-400;
  background-color: $accent;
  color: $white;
  text-transform: uppercase;
  transition: all 0.4s;
  outline: transparent;
  box-shadow: 0px 7px 20px 0px rgb(255 17 48 /30%);
  &:hover {
    filter: brightness(120%);
  }
  &:active {
    filter: brightness(90%);
  }
  &:focus {
    box-shadow: 0 0 0 3px rgb(62 66 100 / 70%);
    border-radius: 5px;
  } 
}