$accent: #e84545;
$default: #6c7279;
$title: #2d3033;
$white: #ffffff;

%raleway-400 {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
}

%raleway-700 {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}

%cardo-400 {
  font-family: 'Cardo-Italic', sans-serif;
  font-weight: 400;
}
